<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-ecache-demo-master:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-ecache-demo-master-1.0.0</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-ecache-demo-master</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-ecache-demo-master" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: net.sf.ehcache:ehcache:2.10.6" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: com.github.ben-manes.caffeine:caffeine:2.8.0" />
          <element id="library" level="project" name="Maven: org.checkerframework:checker-qual:2.10.0" />
          <element id="library" level="project" name="Maven: com.google.errorprone:error_prone_annotations:2.3.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.2.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-ecache-demo-master-1.0.0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-ecache-demo-master/web/Web" />
    </root>
  </artifact>
</component>